flask
flask_sqlalchemy
flasgger
fastapi
uvicorn
psycopg2-binary
python-dotenv
pytest
flake8
pylint
flask-swagger-ui
requests
pyyaml
pydantic
cp_lib @ git+https://github.com/dM1307/Order-lib.git@add-api-logic#egg=cp_lib
