flask
flask_sqlalchemy
flasgger
psycopg2-binary
python-dotenv
pytest
flake8
pylint
flask-swagger-ui
requests
pyyaml
pydantic
chronos-lib @ git+https://github.com/dM1307/Order-lib.git@add-api-logic#egg=chronos-lib
